.newsletter {
    max-width: 380px;
    margin: 0 auto;
  }
  
  .newsletter-header {
    margin-top: 3em;
    margin-bottom: 4em;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    text-shadow: 0 2px 0 #EAFF6A;;
  }
  
  .newsletter-email {
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 0.65em 4em 0.65em 1em;
    width: 100%;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: -1px;
    box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.1), 0 2px 0px rgba(255, 255, 255, 0.2);
    transition: background 0.2s;
  }
  .newsletter-email:hover, .newsletter-email:focus {
    background: #EAFF6A;;
  }
  
  .newsletter-submit {
    position: absolute;
    top: 3px;
    right: 3px;
    height: calc(100% - 6px);
    padding: 1.15em 1.35em;
    border: 0;
    border-radius: 50px;
    color: #7ba132;
    font-size: 0.2em;
    line-height: 0.5;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: #111;
    background: linear-gradient(to bottom, #111 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#000000",GradientType=0 );
  }
  .newsletter-submit span {
    padding: 0.1em 0.65em;
    border-radius: 50px;
    background: #111;
    background: linear-gradient(to bottom, #111111 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#000000",GradientType=0 );
  }
  
  .newsletter-checkbox {
    display: none;
  }
  
  .newsletter-label {
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.9), 0 2px 0px rgba(255, 255, 255, 0.9);
    display: block;
    margin-top: 3em;
    position: relative;
    cursor: pointer;
    color: #EAFF6A;;
    font-size: 1.5em;
  }
  .newsletter-label svg {
    position: absolute;
    top: 3px;
    opacity: 0;
    transition: all 0.2s;
  }
  .newsletter-label svg.checkmark {
    left: 0;
    opacity: 0;
  }
  .newsletter-label svg.cross {
    right: 0;
    opacity: 1;
  }
  .newsletter-label path {
    stroke: #111;
    stroke-linecap: round;
    stroke-width: 4;
    transition: opacity 0.1s;
    fill: none;
    transition: stroke-dashoffset 0.2s;
  }
  
  .newsletter-check {
    position: absolute;
    top: -0.5em;
    right: 0;
    margin: 0;
    padding: 1em;
    width: 4.75em;
    height: 2.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    background: #EAFF6A;;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.9), 0 2px 0px rgba(255, 255, 255, 0.9);
  }
  .newsletter-check:before, .newsletter-check:after {
    content: "";
    position: absolute;
    transition: all 0.2s;
  }
  .newsletter-check:before {
    height: calc(100% - 6px);
    width: 2.3em;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFFFF", endColorstr="#FFE9E9E9",GradientType=0 );
  }
  .newsletter-check:after {
    top: calc(50% - .4em);
    left: calc(1.1em - 6px);
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background: #e9e9e9;
    background: linear-gradient(to bottom, #e9e9e9 30%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFE9E9E9", endColorstr="#FFFFFFFF",GradientType=0 );
  }
  
  .newsletter-checkbox:checked + label .checkmark {
    opacity: 1;
  }
  .newsletter-checkbox:checked + label .cross {
    opacity: 0;
  }
  
  .newsletter-checkbox:checked + label .newsletter-check:before {
    transform: translateX(calc(100% - 2px));
  }
  
  .newsletter-checkbox:checked + label .newsletter-check:after {
    transform: translateX(calc(100% + (1.1em + 8px)));
  }
  
  /* Extras */
  *, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
  }
  
  fieldset {
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  
  input:focus {
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: #111;
  }


#Contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

